<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Welcome</title>
</head>
<body style="margin: 0 auto;
        width: 940px;
        text-align: center;
        font-family: Arial;
        font-size: 25px;">

  <div style="margin: 20px 0 0 0;text-align:left; float:left;">
    <img src="/assets/refer/email_logo.jpg">
  </div>

  <div style="font-size: 34px;
        margin: 20px 0 0 20px; float:left; color: #16355D;">
    <p style="margin: 10px 0 0; text-align: left;">
      Only 3 days left for the <i>Friend Referral Campaign...</i>
    </p>
    <p style="text-align:left; margin: 5px 0 0; font-weight: bold;">Do Not miss out on FREE products!</p>  
    <hr style="font-size: 15px; width: 790px; color: #4F81BC;" />
  </div>

  <div style="clear: both;"></div>
  <div style="text-align: left;">
    <p style="margin: 30px 0 0 0; color: #355F91;"><span style="color: #C00000;">XX</span> friends have joined the campaign thanks to you! You have already earned the [insert current prize level name]. Only <span style="color: #C00000;">YY</span> more until you unlock the [next level name]...Let the Sharing Continue!</p>
  </div>

  <div style="margin-top: 20px; color: #355F91;">
    <p><span style="color: #C00000;">XX</span> Friends Referred (in progress)</p>
    <img src="/assets/refer/level-4.jpg">
  </div>

  
  <div style="margin: 15px 0 0 0;">
    <p style="color: #4F81BC;">Your Unique Referral Code</p>
  </div>
  <div style="margin-top: 5px;">
    <img src="/assets/refer/email_2.jpg">
  </div>
  
  <p style="margin: 30px 0 0 10px; font-size: 40px; font-weight: bold; text-align: left; color: #365F91;">Remember...</p>

  <p style="margin: 30px 0 0 0; font-size: 20px; text-align: left; color: #365F91;">Even friend can only be referred once so make sure you reach them <i><b><span style="font-size: 30px;">before others do!</span></b></i></p>

  <p style="margin: 30px 0 0 0; font-size: 20px; text-align: left; color: #365F91;">This Friend Referral Campaign will only be available Feb. 1-8. Then it is 
    <i><b><span style="font-size: 30px;">gone forever!</span></b></i></p>
  
  <div style="background-color: #233E5F;margin: 40px auto; width: 650px;">
    <p style="padding: 17px 20px;text-font: 35px; color: white;">LOOK SHARP. BE CONFIDENT.</p>
  </div>
  <div style="text-align: left;">
    <p style="font-size: 17px; text-algin: left;"><i>copyright&#0169; 2015 Mister Pompadaur, LLC, All rights reserved.</i></p>
  </div>
  
  <div style="text-align: left; font-size: 16px; margin-bottom: 50px;">
    <a href="https://us8.admin.mailchimp.com/templates/*%7CUNSUB%7C*" style="float: left; margin: 0 20px 0 0;">unsubscribe from this list</a>
    <a href="https://us8.admin.mailchimp.com/templates/*%7CUPDATE_PROFILE%7C*" style="float: left; margin: 0 20px 0 0;">unsubscribe from this list</a>
    <a href="http://www.misterpompadour.com/" style="float: left; margin: 0 20px 0 0;">www.misterpompadour.com</a>    
  </div>
</body>
</html>
