<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Welcome</title>
</head>
<body style="margin: 0 auto;
        width: 940px;
        text-align: center;
        font-family: Arial;
        font-size: 25px;">

  <div style="margin: 20px 0 0 0;text-align:left; float:left;">
    <img src="/assets/refer/email_logo.jpg">
  </div>

  <div style="font-size: 34px;
        margin: 20px 0 0 20px; float:left; color: #16355D;">
    <p style="margin: 10px 0 0; text-align: left;">
      Only 3 days left for the <i>Friend Referral Campaign...</i>
    </p>
    <p style="text-align:left; margin: 5px 0 0; font-weight: bold;">Don't miss out on FREE products!</p>  
    <hr style="font-size: 15px; width: 790px; color: #4F81BC;" />
  </div>

  <div style="clear: both;"></div>
  <div style="text-align: left;">
    <p style="margin: 30px 0 0 0; color: #355F91; font-size: 34px;">Only <span style="color: #C00000;">XX</span> more friend referrals until your next prize!</p>
  </div>

  <div style="margin-top: 20px; color: #355F91;">
    <img src="/assets/refer/email_1.jpg" style="border: 5px solid #233e5f;">
  </div>

  
  <div style="margin: 15px 0 0 0;">
    <p style="font-weight: bold; color: #4F81BC; font-size: 32px;">Your Unique Referral Code</p>
  </div>
  <div style="background-color: #F1F0EE; width: 480px; margin: 7px auto; padding: 20px 25px;">
    <div style="border: 1px solid #D1D0C7; background: #FFF; padding: 10px 0; font-size: 11px;"><%= root_url %>?ref=df2c2abfff</div>
    <div style="width: 120px; height:37px; margin: 25px auto 0; text-aling: center;">
      <a href="http://www.facebook.com/sharer.php?u=http%3A%2F%2F192.168.0.211%3A3000%2F?ref=df2c2abfff&p[title]=Mister+Pompadour &p[images][0]=http%3A%2F%2F192.168.0.211%3A3000%2F%2Fassets%2Frefer%2Flogo-fb69ee306dd1e2eb28dd2e5c9e0c103d.jpg" target="_blank" style="background: url(/assets/refer/fb.png); background-size: 27px 27px; width:27px; height: 27px; display: inline-block;"></a>
      <div style="height: 28px; width: 1px; background: #bab9ba; margin: 0 20px; display: inline-block;"></div>
      <a href="http://twitter.com/share?url=http%3A%2F%2F192.168.0.211%3A3000%2F?ref=df2c2abfff&text=%23MisterPompadour+%23looksharpbeconfident+Excited+for+%40mistrpompadour+new+website+launch." target="_blank" style="background: url(/assets/refer/twit.png); background-size: 27px 27px; width:27px; height: 27px; display: inline-block;"></a>
    </div>  
  </div>
  
  <div style="text-align: left;">
    <p style="margin: 30px 0 0 10px; font-size: 36px; font-weight: bold; color: #365F91;">Remember...</p>
    <ul style="font-size: 20px; list-style: inherit; color: #365F91; padding: 10px 0 0 65px; line-height: 45px;">
      <li>Earn FREE products...the more you share the better the prize!</li>
      <li>Each friend can be referred only once...reach them before others do!</li>
      <li>Only available from Feb. 1-8...share now before time runs out!</li>
    </ul>
  </div>
  <div style="background-color: #233E5F;margin: 30px auto; width: 650px;">
    <p style="padding: 17px 20px; font-size: 34px; color: white;">LOOK SHARP. BE CONFIDENT.</p>
  </div>
  
  <div style="text-align: left;">
    <p style="font-size: 17px; text-algin: left;"><i>copyright&#0169; 2015 Mister Pompadaur, LLC, All rights reserved.</i></p>
  </div>
  
  <div style="text-align: left; font-size: 16px; margin-bottom: 50px;">
    <a href="https://us8.admin.mailchimp.com/templates/*%7CUNSUB%7C*" style="float: left; margin: 0 20px 0 0;">unsubscribe from this list</a>
    <a href="https://us8.admin.mailchimp.com/templates/*%7CUPDATE_PROFILE%7C*" style="float: left; margin: 0 20px 0 0;">unsubscribe from this list</a>
    <a href="http://www.misterpompadour.com/" style="float: left; margin: 0 20px 0 0;">www.misterpompadour.com</a>    
  </div>
</body>
</html>
