<!-- PAGE -->
<div class="page unsubscribe">
  <div class="content">
    <div class="container">
      <!-- BANNER -->
      <div>
        You have been removed from the Mister Pompadour email list.
      </div>
    </div>
  </div><!-- END CONTENT -->

</div><!-- END PAGE -->