<!-- PAGE -->
<div class="page unsubscribe">
  <div class="content">
    <div class="container">
      <!-- BANNER -->
      <div>
        <%= @status_message %>
      </div>
    </div>
  </div><!-- END CONTENT -->

</div><!-- END PAGE -->