/* Common */
body {
  font-family: Arial;
  min-width: 320px;
}
/* Page */
.page {
  /* Header */
  .header {
    background: #203E56;
    width: 100%;
    text-align: center;
    a {
      display: inline-block;
      margin: 7px 0;
      font-family: Niagrsol;
      font-weight: normal;
      font-size: 34px;
      letter-spacing: 5px;
      text-transform: uppercase;
      text-decoration: none;
      color: #FFF;
      span.font-niageng {
        margin-left: 10px;
        font-family: Niageng;
      }
    }
  }
  /* Content */
  .content {
    color: #fff;
    font-weight: normal;
    .container {
      margin: 20px auto 0;
    }
  }
  &.index {
    .content {
      .container {
        /* Banner */
        .banner {
          background-position: center top;
          background-repeat: no-repeat;
          text-align: center;
          color: #fff;
          background-image: url('/assets/home/splash.jpg');
          height: 630px;
          padding-top: 25px;
          .logo-img {
            display: block;
            margin: 0 auto;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url('/assets/home/home_logo.png');
            width: 315px;
            height: 218px;
          }
          .slogan {
            display: inline-block;
            background-color: #00294e;
            margin: 40px auto 0;
            padding: 10px 25px;
            opacity: 0.75;
            font-size: 50px;
          }
          .sub-slogan {
            text-transform: uppercase;
            margin: 57px 0 0;
            font-size: 39px;
          }
          .count-down {
            margin: 15px 0 0;
            font-size: 30px;
          }
          .contact {
            margin: 26px 0 0;
            .field {
              border: 1px solid #fff;
              text-transform: uppercase;
              color: #fff;
              padding: 10px;
              font-size: 20px;
              &.email {
                background-color: rgba(189, 189, 189, .5);
              }
              &.submit {
                background-color: #df6831;
                font-weight: bold;
                cursor: pointer;
                &:hover {
                  background-color: #fe7536;
                }
              }
            }
          }
        }
        .continue {
          text-align: right;
          margin: 15px 10px 15px 0;
          a {
            color: #244060;
            font-size: 20px;
            font-weight: bold;
            text-decoration: none;
            text-transform: uppercase;
          }
        }
      }
    }
  }
  &.referral {
    .content {
      background-color: #f1f0ee;
      .container {
        margin-top: 0;
      }
      /* Banner */
      .banner {
        padding: 15px 0;
        .banner-left {
          display: inline-block;
          background-repeat: no-repeat;
          background-position: center center;
          width: 60%;
          background-image: url('/assets/refer/refer_left.jpg');
          height: 365px;
          vertical-align: top;
          .slogan {
            display: block;
            margin-top: 153px;
            font-family: Orator;
            font-size: 28px;
            font-weight: bold;
            text-align: center;
            text-transform: uppercase;
            line-height: 46px;
            letter-spacing: 0px;
            span {
              display: block;
            }
          }
        }
        .banner-right {
          display: inline-block;
          font-family: Arial;
          text-align: center;
          width: 39%;
          color: #404040;
          vertical-align: top;
          .dont-leave {
            margin-top: 42px;
            font-size: 16px;
            font-weight: bold;
            text-transform: uppercase;
          }
          .invite {
            margin-top: 18px;
            font-size: 30px;
            font-weight: normal;
            text-transform: uppercase;
            line-height: 40px;
            color: #174C75;
            span {
              display: block;
            }
          }
          .share, .count-down {
            font-size: 15px;
            margin-top: 15px;
            span {
              display: block;
            }

          }

          .copy-link {
            background: white;
            border: 1px solid #d1d0c7;
            padding: 10px 0;
            width: 320px;
            font-size: 11px;
            margin: 20px auto 0;
          }
          .social-links {
            text-align: center;
            li {
              display: inline-block;
              margin-top: 25px;
              a {
                display: inline-block;
                background-repeat: no-repeat;
                background-position: center;
                width: 27px;
                height: 27px;
                margin: 0 30px;
              }
              &.facebook {
                border-right: 1px solid #bab9ba;
                a {
                  background-image: url('/assets/refer/fb.png');
                }
              }
              &.twitter {
                a {
                  background-image: url('/assets/refer/twit.png');
                }
              }
            }
          }
        }
      }
      .how-it-works {
        background-color: #fff;
        border-top: 1px solid #d2d1c8;
        padding: 20px 0;
        font-family: Arial;
        text-align: center;
        .title {
          font-size: 16px;
          color: #174c75;
          font-weight: bold;
          text-transform: uppercase;
        }
        .products {
          display: inline-block;
          width: 100%;
          font-family: Arial;
          font-size: 16px;
          color: #174c75;
          text-transform: normal;
          margin-top: 20px;
          li.product {
            float: left;
            width: 20%;
            position: relative;
            .step {
              font-weight: bold;
              height: 32px;
              &.number {
                height: 30px;
                width: 30px;
                border: 1px solid #dad9d2;
                border-radius: 15px;
                color: #404040;
                background: #fff;
                margin: 0 auto;
                line-height: 30px;
                &:hover {
                  color: #fff;
                  background: #174c75;
                  border-color: #174c75;
                }
              }
            }
            &.selected .step {
              background: #960008 !important;
              border-color: #960008 !important;
              color: #FFF !important;
            }
            .line {
              margin-top: 20px;
              padding-top: 20px;
              background: url('/assets/refer/progress_bg.png') left top repeat-x;
            }
            &:hover .tooltip {
              display: block;
            }
            .tooltip {
              border: 4px solid #174C75;
              display: none;
              background: #fff;
              overflow: hidden;
              position: absolute;
              top: -250px;
              left: -90px;

              img {
                margin: 0 auto;
                display: block;
                width: 200px;
              }
              
            }
            &.active {
              .line {
                background: url('/assets/refer/progress_done.png') 0 0 repeat-x;
              }
            }
            &.main {
              text-transform: uppercase;
              font-weight: bold;
            }
          }
        }

        .friends {
          text-align: center;
          font-size: 16px;
          color: #005496;
          margin-top: 30px;
        }

        .checking {
          text-align: center;
          font-size: 16px;
          color: #404040;
          margin-top: 5px;
        }

        .ship {
          text-align: center;
          font-size: 16px;
          color: #404040;
          margin: 50px 0 20px 0;
        }

        .continue {
          text-align: center;
          a {
            color: #244060;
            font-size: 20px;
            font-weight: bold;
            text-decoration: none;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}

/* Responsive */
@media screen and (min-width: 1349px) {
  .page {
    .content {
      .container {
        width: 1349px;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .page {
    .content {
      .container {
        width: 100%;
      }
    }
  }
}
@media screen and (min-width: 1200px) and (max-width: 1349px) {
  .page {
    &.index {
      .content {
        .container {
          width: 1170px;
          .banner {
            background-image: url('/assets/home/splash_1200.jpg');
          }
        }
      }
    }
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .page {
    &.index {
      .content {
        .container {
          width: 970px;
          .banner {
            background-image: url('/assets/home/splash_992.jpg');
          }
        }
      }
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .page {
    &.index {
      .header {
        a {
          font-size: 32px;
        }
      }
      .content {
        .container {
          .banner {
            padding-top: 15px;
            height: 358px;
            background-image: url('/assets/home/splash_992.jpg');
            .logo-img {
              background-image: url('/assets/home/home_logo_768.png');
              width: 160px;
              height: 111px;

            }
            .slogan {
              margin: 20px auto 0;
              font-size: 30px;
              padding: 7px 15px;
            }
            .sub-slogan {
              margin: 25px 0 0;
              font-size: 25px;
            }
            .count-down {
              margin: 5px 0 0;
              font-size: 20px;
            }
            .contact {
              margin: 15px 0 0;
              .field {
                padding: 4px;
                font-size: 15px;
                
              }
            }

            .continue {
              margin: 10px 10px 10px 0;
              a {
                  font-size: 15px;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .page {
    &.index {
      .content {
        .container {
          .banner {
            padding-top: 15px;
            height: 358px;
            background-image: url('/assets/home/splash_768.jpg');
            .logo-img {
              background-image: url('/assets/home/home_logo_768.png');
              width: 160px;
              height: 111px;

            }
            .slogan {
              margin: 20px auto 0;
              font-size: 30px;
              padding: 7px 15px;
            }
            .sub-slogan {
              margin: 25px 0 0;
              font-size: 25px;
            }
            .count-down {
              margin: 5px 0 0;
              font-size: 20px;
            }
            .contact {
              margin: 15px 0 0;
              .field {
                padding: 4px;
                font-size: 15px;
                
              }
            }
            
          }

          .continue {
            margin: 10px 10px 10px 0;
            a {
                font-size: 15px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .page {
    &.index {
      .content {
        .container {
          .banner {
            padding-top: 15px;
            height: 358px;
            background-image: url('/assets/home/splash_480.jpg');
            .logo-img {
              background-image: url('/assets/home/home_logo_768.png');
              width: 160px;
              height: 111px;

            }
            .slogan {
              margin: 20px auto 0;
              font-size: 23px;
              padding: 7px 15px;
            }
            .sub-slogan {
              margin: 25px 0 0;
              font-size: 18px;
            }
            .count-down {
              margin: 5px 0 0;
              font-size: 15px;
            }
            .contact {
              margin: 0;
              .field {
                margin-top: 15px;
                padding: 4px;
                font-size: 14px;
                &.submit {
                  margin-top: 10px;
                }
              }
            }
          }
          .continue {
            margin: 10px 10px 10px 0;
            a {
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1120px) {
  .page {
    &.referral {
      .content {
        .container {
          width: 1120px;
        }
      }
    }
  }
}
@media screen and (max-width: 1120px) {
  .page {
    &.referral {
      .content {
        .banner {
          .banner-left, .banner-right {
            width: 100%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .page {
    &.referral {
      .content {
        .banner {

          .banner-left, .banner-right {
            width: 100%;
          }

          .banner-right {
            .copy-link {
              width: 280px;
            }
          }
        }

        .how-it-works {
          font-size: 20px;
          .products {
            li.product {
              float: none;
              width: 100%;
              margin-top: 10px;

              .tooltip {
                border: 4px solid #174C75;
                display: none;
                background: #fff;
                overflow: hidden;
                position: absolute;
                top: -228px;
                left: 38px;

              }
            }


          }
        }
      }
    }
  }
}