

@media (min-width: 320px) {

  #home {
    padding: 0;
  }

  #home .hero{
    background-size: 100%;
    width: 100%;
    height: 155px;
    background-position: left top;
  }

  #home .hero .large{
    font-weight: bold;
    font-size: 18px;
    color: #FFFFFF;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    letter-spacing: 0px;
    text-align: center;
    font-family: Orator Std;
    margin: 14% 0 0 20%;
  }

  #home .page-content{
    width: 100%;
    margin: 0 auto;
  }  

  #home .form-wrap{
    height: 100%;
    width: auto;
    margin: 0;
    font-family: Orator Std;
  }

  #home .form-wrap .byline{
    font-size: 15px;
    letter-spacing: 0px;
    margin: 0 0 0 33%;
  }

  #home .form-wrap .email{
    font-size: 14px;
    padding: 0;
    margin: 0 0 0 33%;
    border: none;
    width: 120px;
    outline: none;
    letter-spacing: 0px;
    color: #FFFFFF;

    background: -moz-linear-gradient(top, rgba(206,206,206,0.5) 50%, rgba(109,109,109,0.5) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,rgba(206,206,206,0.5)), color-stop(100%,rgba(109,109,109,0.5))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(206,206,206,0.5) 50%,rgba(109,109,109,0.5) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(206,206,206,0.5) 50%,rgba(109,109,109,0.5) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(206,206,206,0.5) 50%,rgba(109,109,109,0.5) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(206,206,206,0.5) 50%,rgba(109,109,109,0.5) 100%); 

  }

  #home .form-wrap .email input {
    width: 120px;
  }

  #home .form-wrap .submit{
    width: auto;
    height: 16px;
    line-height: normal;
    font-size: 10px;
  }

}


@media (min-width: 320px) {

  #home .hero{
    background-size: 100%;
    width: 100%;
    height: 175px;
    background-position: left top;
  }

}

@media (min-width: 480px) {

  #home .hero{
    background-size: 100%;
    width: 100%;
    height: 233px;
    background-position: left top;
  }

}

@media (min-width: 640px) {

  #home .hero{
    background-size: 100%;
    width: 100%;
    height: 350px;
    background-position: left top;
  }

}


